.body{
    background-color: #E8E8E8;
}
/* Nav Bar CSS */
nav{
    min-width: 700px;
    background-color: #404040;
}
.container-fluid{
    background-color: #404040;
}
.container-fluid>.navbar-header>a{
    color: 	#DCDCDC;
    font-family: 'Megrim', cursive;
    font-size: 24px;
}
.container-fluid>.navbar-header>a:hover{
    color: #B0B0B0;
}
.nav-pills>li.active.navbtn>a{
    background-color: #C0C0C0;
}
.nav-pills>li.active.navbtn>a:hover{
    background-color: #D3D3D3;
}
.nav-pills>li.navbtn>a{
    color: #FFFFFF;
    font-family: 'Iceland', cursive;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.nav-pills>li.navbtn>a:hover{
    background-color: #D3D3D3;
}
.nav-pills>li>a:hover{
    background-color: #D7BDE2;
    color: white;
}


/* Header CSS */
header{
    text-align: center;
    background-image: url("https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg");
    height: 400px;
    background-size: cover;
}
#img{
    margin: 80px 0px 0px 0px;
    border: 7px solid #F5F5F5;
    border-radius: 20px;
}
#name{
    color: #404040;
    font-family: 'Iceland', cursive;
    font-size: 40px;
}


/* Section CSS */



/* About Section CSS */
#about{
    text-align: center;
}


/* Contact Section CSS */
#contact{
    text-align: center;
}


/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


